body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}


.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
background-image: url('image/12.jpg');
background-repeat: no-repeat;
background-size: cover;
}


.leftcolumn { 
  float: left;
  width: 100%;
}


.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  background-image: url('image/H.jpg');
background-repeat: no-repeat;
background-size: cover;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

div.list{
	border: 2px solid black;

}

li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 190px;
}
div.map-9cd199b9cc5410cd3b1ad21cab2e54d3 {
  margin: 5px;
  border: 3px solid #ccc;

}
div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.abc {
  background: url(image/15.jpg) repeat;
  border: 2px solid black;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}
